In [2]:
import imdlib as imd
import numpy as np
import pandas as pd
import xarray as xr

In [3]:
start_yr = 2001 # give starting year from which you want to download/convert data: 1901 ownwards for rainfall, 1951 for tmax and tmin
end_yr = 2022 # give ending year upto which you want to download/convert data
variable = 'tmin' # give variable name (rain for rainfall, tmax or tmin for min or max temperature)
file_format = 'yearwise' # other option (None), which will assume deafult imd naming convention
imd.get_data(variable, start_yr, end_yr, fn_format='yearwise', file_dir=r'C:\Users\HP\Desktop\Suraj\IMD_Grid')

Downloading: mintemp for year 2001
Downloading: mintemp for year 2002
Downloading: mintemp for year 2003
Downloading: mintemp for year 2004
Downloading: mintemp for year 2005
Downloading: mintemp for year 2006
Downloading: mintemp for year 2007
Downloading: mintemp for year 2008
Downloading: mintemp for year 2009
Downloading: mintemp for year 2010
Downloading: mintemp for year 2011
Downloading: mintemp for year 2012
Downloading: mintemp for year 2013
Downloading: mintemp for year 2014
Downloading: mintemp for year 2015
Downloading: mintemp for year 2016
Downloading: mintemp for year 2017
Downloading: mintemp for year 2018
Downloading: mintemp for year 2019
Downloading: mintemp for year 2020
Downloading: mintemp for year 2021
Downloading: mintemp for year 2022
Download Successful !!!

In [4]:
file_dir=r'C:\Users\HP\Desktop\Suraj\IMD_Grid'
data = imd.open_data(variable, start_yr, end_yr,'yearwise', file_dir)

In [10]:
df_tmin1 = data.get_xarray().to_dataframe()
df_tmin1

                           tmin
time       lat  lon
2001-01-01 7.5  67.5  99.900002
                68.5  99.900002
                69.5  99.900002
                70.5  99.900002
                71.5  99.900002
...                         ...
2022-12-31 37.5 93.5  99.900002
                94.5  99.900002
                95.5  99.900002
                96.5  99.900002
                97.5  99.900002

[7721635 rows x 1 columns]

In [5]:
if variable == 'rain':
    grid_size = 0.25 # grid spacing in deg
    y_count = 129 # no of grids in y direction
    x_count = 135 # no of grids in x direction
    x = 66.5 # starting longitude taken from control file (.ctl)
    y = 6.5 # starting latitude taken from control file (.ctl)
elif variable == 'tmax' or variable == 'tmin':
    grid_size = 1 # grid spacing in deg
    y_count = 31 # no of grids in y direction
    x_count = 31 # no of grids in x direction
    x = 67.5 # starting longitude taken from control file (.ctl)
    y = 7.5 # starting latitude taken from control file (.ctl)

print(grid_size,x_count, y_count, x, y)

1 31 31 67.5 7.5

In [6]:
data
data.shape
np_array = data.data

(8035, 31, 31)

In [7]:
years_no = (end_yr - start_yr) + 1
#print(years_no)

In [8]:
day = 0
for yr in range(0,years_no):
    f = open(r'C:\\Users\\HP\\Desktop\\Suraj\\IMD_Grid\\tmin\\' + str(start_yr+yr)+"_"+str(variable)+".csv",'w') # just change the path where you want to save csv file
    if ((start_yr+yr) % 4 == 0) and ((start_yr+yr) % 100 != 0):  # check for leap year
        days = 366
        count = yr + days
    elif ((start_yr+yr) % 4 == 0) and ((start_yr+yr) % 100 == 0) and ((start_yr+yr) % 400 == 0):
        days = 366
        count = yr + days
    else:
        days = 365
        count = yr + days

    day = day + days

    f.write("X,Y,")
    for d in range(0, days):
        f.write(str(d+1))
        f.write(",")
    f.write("\n")
    #print(np_array[364,0,0])
    for j in range(0, y_count):

        for i in range(0, x_count):

            f.write(str((i * grid_size) + x))
            f.write(",")
            f.write(str((j * grid_size) + y))
            f.write(",")
            time = 0
            for k in range(day-days, day):

                val = np_array[k,i,j]
                if val == 99.9000015258789 or val == -999:
                    f.write(str(-9999))
                    f.write(",")
                else:
                    f.write(str(val))
                    f.write(",")


            f.write("\n")
    print("File for " + str(start_yr + yr) + "_" + str(variable) + " is saved")
print("CSV conversion successful !")

File for 2001_tmin is saved
File for 2002_tmin is saved
File for 2003_tmin is saved
File for 2004_tmin is saved
File for 2005_tmin is saved
File for 2006_tmin is saved
File for 2007_tmin is saved
File for 2008_tmin is saved
File for 2009_tmin is saved
File for 2010_tmin is saved
File for 2011_tmin is saved
File for 2012_tmin is saved
File for 2013_tmin is saved
File for 2014_tmin is saved
File for 2015_tmin is saved
File for 2016_tmin is saved
File for 2017_tmin is saved
File for 2018_tmin is saved
File for 2019_tmin is saved
File for 2020_tmin is saved
File for 2021_tmin is saved
File for 2022_tmin is saved
CSV conversion successful !